


<!--

  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink  routerLink="welcome">Inicio</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="unicorns">Unicornios</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="login">Login</a>
    </li>
  </ul> 
-->

<nav class="nav" *ngIf="isAuthenticated()">
  <a class="nav-link"  routerLink="/welcome">Inicio</a>
  <a class="nav-link" routerLink="/unicorns">Unicornios</a>
  <a class="nav-link" routerLink="login" (click)="logout()" >Login</a>
</nav>

<router-outlet></router-outlet>
